.NotLoggedIcon{

    background: none;
    border: none;
    outline: none;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 8em;
    font-weight: 700;
}


.loginButton{
    top: 55%;
}
.registerButton{
    top: 70%;
}